@font-face {
  font-family: "{{fontname}}";
  src: url("{{woff}}") format("woff"),
  url("{{woff2}}") format("woff2"),
  url("{{ttf}}") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}
  
[class^="{{prefix}}-"], [class*=" {{prefix}}-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '{{fontname}}' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
  
{{cssString}}